<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aqua_AMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Aqua_AMS.Properties.Settings.AMS_DataConnectionString"
            connectionString="Data Source=MAX-PC;Initial Catalog=AMS_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Aqua_AMS.Properties.Settings>
            <setting name="ConString" serializeAs="String">
                <value>Data Source=MAX-PC;Initial Catalog=AMS_Data;Integrated Security=True</value>
            </setting>
        </Aqua_AMS.Properties.Settings>
    </userSettings>
</configuration>
